<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Current Instance Type HL7 or CSV or BAK -->
    <add key="PASImportType" value="HL7"/>
    <add key="MRGHasFirstSegmentAsPasID" value="True"/>
    <add key="PASDateSourceFormat" value="yyyyMMdd" />
    <add key="PASDateTargetFormat" value="yyyy-MM-dd" />
    <add key="ConnectionString1" value="Data Source=.;Initial Catalog=Webtracker360; Integrated Security=true; Max Pool Size =10000; Min Pool size =10" />
    <add key="HL7InstanceName" value="Webtracker"/>
    <add key="HL7FullPasEnabled" value="True"/>
    <add key="HL7InsertColumnsOrder" value="PAS_ID, SNAME, FName, DOB, PAS_NHS_NO, RID, PatientAddress,PatientCity, PatientRegion, PatientPostcode, PatientGender, PatientTitle,GPName, GPCode, GPAddress, GPPostcode, GPDoctorName, GPDoctorCode"/>
    <add key="HL7ErrorLogPath" value="D:\CODE\PROMATICA\Logs"/>

    <add key="HL7BulkUploadPath" value="D:\CONTRACTS\Promatica\Source Code\HL7 Service\Promatica.HL7Test\Files\BulkUpload"/>
    <add key="HL7Segment_INDEX" value="4"/>
    <add key="HL7Segment_PASID" value="HOSP"/>
    <add key="HL7Segment_NHSNO" value="NHS"/>
    <add key="HL7ACK_StartCharacter" value="s"/>
    <add key="HL7ACK_FinishPipes" value="|||"/>
    <add key="HL7ACK_SourceName" value="PromaticaHL7Interface"/>
    
    <!-- HL7 Settings  -->
    <add key="HL7Logging" value="Yes"/>
    <add key="HL7TcpPort" value="1234" />

    <!-- PAS Settings  C:\\Workspaces\\HL7 Service\\Promatica.HL7Test\\Files\\Logs-->
    <add key="CSVImportPath" value="C:\Workspaces\HL7 Service\Promatica.HL7Test\Files\CSV" />
    <add key="CSVProcessedPath" value="C:\Workspaces\HL7 Service\Promatica.HL7Test\Files\Processed" />
    <add key="CSVFileExtension" value="csv" />
    <add key="CSVDateSourceFormat" value="yyyyMMdd" />
    <add key="CSVDelimiter" value="|"/>
    <add key="CSVQualifier" value="&quot;"/>
    <add key="CSVFieldsCount" value="17"/>
    <add key="CSVImportIntervalMins" value="1"/>
    <add key="CSVDateFieldIndex" value="3"/>
    <add key="CSVInsertColumnsOrder" value="PAS_ID, SNAME, FName, DOB, PAS_NHS_NO, PatientGender, GPCode, PatientAddress,PatientRegion,PatientCity, PatientPostcode,  PatientTitle, GPName,  GPAddress, GPPostcode, GPDoctorName, GPDoctorCode"/>

    <!-- BAK Settings  -->
    <add key="BAKSourcePath" value="C:\Users\Mohammed\Box Sync"/>
    <add key="BAKDestinationPath" value="E:\Box Backups"/>
    <add key="BAKDestinationFilePrefix" value="Backups"/>
    <add key="BakIntervalHours" value="1"/>
    
  </appSettings>
</configuration>