<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Current Instance Type either HL7 or CSV  -->
    <add key="PASImportType" value="HL7"/>
    <add key="PASDateSourceFormat" value="yyyyMMdd" />
    <add key="PASDateTargetFormat" value="MMM dd yyyy HH:mm" />
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=WebTrackerPro6Vanila;Integrated Security=True; Max Pool Size =10000; Min Pool size =10" />
    <add key="HL7InsertColumnsOrder" value="PAS_ID, SNAME, FName, DOB, PAS_NHS_NO, RID"/>
    <add key="HL7ErrorLogPath" value="C:\Promatica\PromaticaPasService\Files\HL7"/>

    <add key="HL7BulkUploadPath" value="C:\Promatica\PromaticaPasService\Files\HL7\BulkUpload"/>
    <add key="HL7Segment_INDEX" value="3"/>
    <add key="HL7Segment_PASID" value="HOSP"/>
    <add key="HL7Segment_NHSNO" value="NHS"/>
    <add key="HL7ACK_StartCharacter" value="s"/>
    <add key="HL7ACK_FinishPipes" value="|||"/>
    <add key="HL7ACK_SourceName" value="PromaticaHL7Interface"/>

    <!-- HL7 Settings  -->
    <add key="HL7Logging" value="Yes"/>
    <add key="HL7TcpPort" value="1234" />

    <!-- PAS Settings  -->
    <add key="CSVImportPath" value="C:\Promatica\PromaticaPasService\Files\CSV" />
    <add key="CSVProcessedPath" value="C:\Promatica\PromaticaPasService\Files\CSV\Processed" />
    <add key="CSVFileExtension" value="csv" />
    <add key="CSVDelimiter" value=","/>
    <add key="CSVQualifier" value="&quot;"/>
    <add key="CSVFieldsCount" value="5"/>
    <add key="CSVImportIntervalMins" value="1"/>
    <add key="CSVDateFieldIndex" value="3"/>
    <add key="CSVInsertColumnsOrder" value="PAS_ID, SNAME, FName, DOB, PAS_NHS_NO"/>


  </appSettings>
</configuration>